body {background-color: green;
font-family: Segoe Verdana, sans-serif;}

header {background-color: blueviolet;}



h1{color: cyan;}
nav > ul {line-height: 2em;
list-style-type: none;
padding-left: 5px;}

section {background-color: aqua;
width: 75%;
font-size: 1.2em;}

footer {background-color: blueviolet;}